.top_container{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 70px;
    background-color: #0015b4;
    color: white;
    font-family: 'Inter', sans-serif;
    position: fixed;
    width: 100%;
    left: 0%;
    top: 0%;
    box-shadow: inset 0px -10px -10px -10px rgb(255, 255, 255);
}

.heading{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 0%;
    font-weight: bold;
}

.pfp{
    position: absolute;
    right: 9px;
    top: 8px;
}

.profile_picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */

  .f_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 80px;
    background-color: #0015b4;
    color: white;
    font-family: 'Inter', sans-serif;
    position: fixed;
    width: 22%;
    left: 5%;
    top: 275px;
    border-radius: 10px;
    padding-left: 20px;
    transition: all 250ms;
  }

  .f_container:hover{
   transform: scale(1.01);
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container_text{
    /* font-size: 100px; */
    text-size-adjust: 10%;
}

.s_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 80px;
    background-color: #0015b4;
    color: white;
    font-family: 'Inter', sans-serif;
    position: fixed;
    width: 22%;
    left: 5%;
    top: 375px;
    border-radius: 10px;
    padding-left: 20px;
    transition: all 250ms;
}

.s_container:hover{
    transform: scale(1.01);
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.t_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 80px;
    background-color: #0015b4;
    color: white;
    font-family: 'Inter', sans-serif;
    position: fixed;
    width: 22%;
    left: 5%;
    top: 475px;
    border-radius: 10px;
    padding-left: 20px;
    transition: all 250ms;
}

.t_container:hover{
    transform: scale(1.01);
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.profile-button{
    background-color: #0015b4;
    border: none;
}
.drop-container{
    display: none;
    width: 250px;
    height: 200px;
    background-color: #d5d5d5;
    position: absolute;
    top: 70px;
    opacity: 1;
    right: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}
.open {
    display: block;
  }
.drop{
    font-size: 25px;
    padding: 10px;
    transition: all 250ms;
    border-bottom: 1px solid rgb(140, 139, 139);
}
a,
a:visited{
    text-decoration: none;
}
#bottom-drop{
    border: none;
}
.drop:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.image img{
    position: fixed;
    bottom: 100px;
    right: 25%;
    bottom: 15%;
    width: 350px;
    height: 100px;
    transform: scaleX(-1);
}