body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-13xl: 32px;
  
    /* Colors */
    --color-white: #fff;
    --color-mediumblue: #172ad3;
  
    /* Border radiuses */
    --br-3xs: 10px;
  }
  