.logo {
    font-size: 40px;
    position: absolute;
    left: 41%;
    top: 40px;
    font-weight: bold;
    color: rgb(37, 0, 201);
    font-family: Arial, sans-serif;

}
.signup-container{
    position: relative;
    left: 35%;
    top: 130px;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
       background-color: rgb(218, 245, 250);
}
.top_text{
    font-size: 25px;
    position: relative;
    left: 3em;
    top: 15px;
    font-weight: bold;
}
.user {
    height: 50px;
    width: 350px;
    position: relative;
    left: 25px;
    top: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
/* .user::placeholder{
    position:relative;
    left: 10px;
    top: 5px;
    font-size: 20px;
    padding: 150px;
} */
.box
{
    width: 500px;
    height: 500px;
    background-color: red;
}
.inner{
    width: 200px;
    height: 200px;
    
    padding: 0px;
    background-color: pink;
}
.email{
    height: 50px;
    width: 350px;
    position: relative;
    left: 25px;
    top: 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.password{
    height: 50px;
    width: 350px;
    position: relative;
    left: 25px;
    top: 80px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.confirm_password{
    height: 50px;
    width: 350px;
    position: relative;
    left: 25px;
    top: 100px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.btn{
    height: 50px;
    width: 350px;
    position: relative;
    left: 25px;
    top: 100px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(207, 255, 255);
    top: 100px;
}
.btn:hover{
    background-color: rgb(100, 184, 184);
    color: rgb(0, 0, 0);
}
.btn:active{
    background-color: rgb(0, 0, 0);
    color: rgb(207, 255, 255);
}
.element {
    font-family: Arial, sans-serif;
  }
  .forgotten-password {
    position: absolute;
    top: 280px;
    left: 85px;
    text-decoration: underline;
    font-weight: 600;
    color: #3d6ce7;
  }
  .cna{ height: 50px;
    width: 350px;
    position: relative;
    left: 30px;
    top: 400px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(4, 128, 29);
    color: rgb(207, 255, 255);
    top: 250px;
  }
  